<!-- NAV -->
<div class="sticky-top d-flex justify-content-center bg-primary">
  <div class="btn-group">

    <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Default Columns
    </button>
    <div class="dropdown-menu">
      <div class="dropdown-item form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" data-toggle="collapse" href="#defaultOde" role="button" aria-expanded="true" aria-controls="defaultOde" checked>
        <label class="form-check-label" for="inlineCheckbox1">Ode</label>
      </div>
      <div class="dropdown-item form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" data-toggle="collapse" href="#defaultTrans" role="button" aria-expanded="true" aria-controls="defaultTrans">
        <label class="form-check-label" for="inlineCheckbox2">Ode Trans.</label>
      </div>
      <div class="dropdown-item form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" data-toggle="collapse" href="#defaultΣ" role="button" aria-expanded="true" aria-controls="defaultΣ" checked>
      <label class="form-check-label" for="inlineCheckbox3">Scholia Vetera</label>
      </div>
    <div class="dropdown-item form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" data-toggle="collapse" href="#defaultΣTrans" role="button" aria-expanded="true" aria-controls="defaultΣTrans" checked>
      <label class="form-check-label" for="inlineCheckbox4">Scholia Trans.</label>
    </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ms A
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>

  </div>
</div>
