<!-- NAV -->
<nav class="navbar navbar-expand-md navbar-light py-4">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <h3 class="d-inline align-middle pl-3 text-primary">The Pindar Scholia</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/multitext/" class="nav-link">Multitext</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/chapters/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chapters
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ site.baseurl }}/chapter_1/">Chapter 1</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/chapter_2/">Chapter 2</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/chapter_3/">Chapter 3</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/chapter_4/">Chapter 4</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/chapter_5/">Chapter 5</a>
            </div>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/works_cited/" class="nav-link">Works Cited</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/abstract/" class="nav-link">Abstract</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
