// POV STICKY COLUMNS

.pov-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.pov-table thead th {
    background-color: #DDEFEF;
    border: none;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.pov-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.pov-wrapper {
    position: relative;
}
.pov-scroller {
    margin-left: 141px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 300px;
}
.pov-table .pov-sticky-col {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 0;
    position: absolute;
    top: auto;
    width: 120px;
}


//OVERLAY COLOR SCHEMES

.overlay-dark {
    background-color: rgba(black, 0.4);
}

.overlay-olympian {
    background: rgba(127, 11, 11, 0.3);
}

.overlay-pythian {
    background: rgba(0, 150, 136, 0.3);
}

.overlay-nemean {
    background: rgba(76, 175, 80, 0.3);
}

.overlay-isthmian {
    background: rgba(255, 152, 0, 0.3);
}

.in-progress {
  filter: blur(4px);
 -webkit-filter: blur(4px);
}

//BUTTON COLOR SCHEMES

.btn-olympian {
  background-color: rgba(127, 11, 11, 1.0);
}

.btn-pythian {
  background-color: rgba(0, 150, 136, 1.0);
}

.btn-nemean {
  background-color: rgba(76, 175, 80, 1.0);
}

.btn-isthmian {
  background-color: rgba(255, 152, 0, 1.0);
}
